@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

@layer utilities {
    .custom-scroll-bar-4px::-webkit-scrollbar-thumb:hover {
        background-color: rgb(0,0,0,0.3);
    }
    .custom-scroll-bar-4px::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    .custom-scroll-bar-4px::-webkit-scrollbar-thumb {
        background-color: rgb(0,0,0,0.2);
        border-radius: 100px;
    }
    .custom-scroll-bar-12px::-webkit-scrollbar-thumb:hover {
        background-color: rgb(0,0,0,0.3);
    }
    .custom-scroll-bar-12px::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    .custom-scroll-bar-12px::-webkit-scrollbar-thumb {
        background-color: rgb(0,0,0,0.2);
        border-radius: 100px;
    }
}