@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

@layer utilities {
    .custom-scroll-bar-4px::-webkit-scrollbar-thumb:hover {
        background-color: rgb(0,0,0,0.3);
    }
    .custom-scroll-bar-4px::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    .custom-scroll-bar-4px::-webkit-scrollbar-thumb {
        background-color: rgb(0,0,0,0.2);
        border-radius: 100px;
    }
    .custom-scroll-bar-10px::-webkit-scrollbar-thumb:hover {
        background-color: rgb(0,0,0,0.3);
    }
    .custom-scroll-bar-10px::-webkit-scrollbar {
        width: 10px;
        height: 10px;

    }
    .custom-scroll-bar-10px::-webkit-scrollbar-thumb {
        background-color: rgb(0,0,0,0.2);
        border-radius: 100px;
    }
    .custom-scroll-bar-12px::-webkit-scrollbar-thumb:hover {
        background-color: rgb(0,0,0,0.3);
    }
    .custom-scroll-bar-12px::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    .custom-scroll-bar-12px::-webkit-scrollbar-thumb {
        background-color: rgb(0,0,0,0.2);
        border-radius: 100px;
    }

    .dot-elastic {
        position: relative;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: theme('colors.main-theme');
        color: theme('colors.main-theme');
        animation: dot-elastic 1s infinite linear;
    }
    .dot-elastic::before, .dot-elastic::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
    }
    .dot-elastic::before {
        left: -12px;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: theme('colors.main-theme');
        color: theme('colors.main-theme');
        animation: dot-elastic-before 1s infinite linear;
    }
    .dot-elastic::after {
        left: 12px;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: theme('colors.main-theme');
        color: theme('colors.main-theme');
        animation: dot-elastic-after 1s infinite linear;
    }

    @keyframes dot-elastic-before {
        0% {
            transform: scale(1, 1);
        }
        25% {
            transform: scale(1, 1.5);
        }
        50% {
            transform: scale(1, 0.67);
        }
        75% {
            transform: scale(1, 1);
        }
        100% {
            transform: scale(1, 1);
        }
    }
    @keyframes dot-elastic {
        0% {
            transform: scale(1, 1);
        }
        25% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(1, 1.5);
        }
        75% {
            transform: scale(1, 1);
        }
        100% {
            transform: scale(1, 1);
        }
    }
    @keyframes dot-elastic-after {
        0% {
            transform: scale(1, 1);
        }
        25% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(1, 0.67);
        }
        75% {
            transform: scale(1, 1.5);
        }
        100% {
            transform: scale(1, 1);
        }
    }
    
}
