name: build test(Java - Gradle / Next - npm)

on:
  pull_request:
    branches:
      - "main"

jobs:
  spring-build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Build with Gradle
        run: |
          cd server
          chmod +x gradlew
          ./gradlew build

  next-build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node 16
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Install dependencies and build
        run: |
          cd client
          npm install
          npm run build
